@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
  background: #fff6fa;
}

header {
    width: 100%;
    margin-bottom: 18px;
    background: #FF227F;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.space-logo, .space-shipping, .space-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.style-image{
  display: flex;
  justify-content: center;

  }

.link-menu{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .link-menu:hover {
    opacity: 0.7;
  }
  
  nav {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: transparent;
    height: 95px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  .input-search.menu-active::placeholder {
    color: transparent; 
    font-weight: 500;
    display: unset;
}


  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }

    .link-menu {
        color: #FF227F;
    }

    .nav-list {
      position: absolute;
      top: 95px;
      left: 0;
      width: 50vw;
      height: 92vh;
      background: #FEFEFE;
      flex-direction: column;
      align-items: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      padding: 10px;
      margin-left: 0;
      opacity: 0;
    }

    a:hover {
        color: #FEFEFE;
        background-color: #FF227F;
    }

    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

.search {
    width: 90%;
    height: 40px;
    margin: auto;
    padding: 0px 20px 20px 5px;
    display: grid;
    grid-template-columns: 10% 90%;
    border-radius: 30px;
    border: 2px solid #FF227F;
    background: #fff6fa;
    margin-bottom: 30px;
}

.division-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    grid-column: 1/2;
    margin-left: 5px;
}

.input-search {
    margin-left: 10px;
    grid-column: 2/3;
    width: 100%;
    position: relative;
    height: 36px;
    background: transparent;
    color: #111111;
    border: none;
}

input::placeholder {
    color: #c0c0c0;
    font-weight: 500;
    display: unset;
  }

input:focus {
    border: none;
    outline: none;
    background: transparent;
    color: #111111;
}

@media screen and (min-width: 830px) and (max-width: 1070px) {
  .search {
    grid-template-columns: 7% 93%;
  }
}

@media screen and (min-width: 1071px) and (max-width: 3000px) {
  .search {
    grid-template-columns: 4% 96%;
  }
}

.categories {
  margin-top: 66px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.bolas {
  width: 218px;
  height: 218px;
  border-radius: 50%;
  background: #c0c0c0;
  cursor: pointer;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
  font-size: 21px;
  font-weight: 300;
}

footer {
  margin-top: 69px;
  width: 100%;
  background: #FF227F;
  padding: 15px 30px;
}

.space-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

i {
  font-size: 20px;
  margin-right: 5px;
}

.footer-desc {
  position: relative;
  bottom: 3px;
  display: inline-block;
}

.instagram-logo {
  margin-top: 30px;
  margin-bottom: 10px;
}


section {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 150px;
}

@media screen and (min-width:850px) { /*Funciona em telas maiores de 850px*/
  .space-logo {
    align-items: flex-start;
  }

  .desktop-direction {
    display: flex;
    flex-direction: row;
  }
}


/*Estilização do sobre*/

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sobre {
  grid-column: 1/2;
  padding-left: 10%;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}

.sobre-texto {
  text-align: justify;
}
.image-proprietária {
  width: auto;
}
@media screen and (min-width:100px) and (max-width:885px) {
  .principal {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 5%;
    padding-left: 5%;
  }

  .sobre {
    padding-left: 0;
  }

  .image-proprietária {
    width: 95%;
  }

}



.banner {
  margin-bottom: 60px;
}

.carrosel-inner {
  margin-left: 5%;
  margin-top: 2%;
}

.cards-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card-categories{
  display: grid;
  cursor: pointer;
  grid-template-rows: 80% 20%;
  width: 280px;
  height: 400px;
  margin: 10px;
}

.description-pijama {
  grid-row: 1/2;
  padding-left: 30px;
}

.description-pijama-text {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  text-decoration: none;
  color: #111111;
}

a {
  text-decoration: none;
}

.card-categories:hover {
  opacity: 1.2;
  scale: 1.2;
}

