@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Wonder';
    src: url(../FONTS/WONDER\ SEASON.otf) format(opentype), url(../FONTS/WONDER\ SEASON.ttf) format(truetype);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


:root {
    font-size: 16px;
}

a {
    color: #000;
}

body {
    background: #fff6fa;
    line-height: 1.43;
}

/*ESTILO DO CABEÇALHO DEFINITIVO*/

header {
    width: 100%;
    margin-bottom: 18px;
    background: #FF227F;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.space-logo,
.space-shipping,
.space-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-image {
    padding: 0 60px 0 60px;
}

.link-menu {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    font-size: 12px;
}

.link-menu:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    background: transparent;
    height: 78px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.input-search.menu-active::placeholder {
    color: transparent;
    font-weight: 500;
    display: unset;
}



@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .link-menu {
        color: #FF227F;
    }

    .nav-list {
        position: absolute;
        top: 97px;
        left: 0;
        width: 50vw;
        height: 92vh;
        background: #fff6fa;
        flex-direction: column;
        transform: translateX(-100%);
    }

    .nav-list li {
        padding: 10px;
        margin-left: 0;
        opacity: 0;
    }

    a:hover {
        color: #FEFEFE;
        background-color: #FF227F;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.logo-text {
    font-family: 'Wonder', serif;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}

.logo {
    display: none;
}

@media screen and (max-width:1024px) {
    .logo-text {
        display: none;
    }

    .logo {
        display: inline;
    }
}

/* ESTILO PRODUTOS VITRINE (MOBILE-FIRST) */

ol {
    font-size: 0.8rem;
}

.guide {
    padding-left: 10px;
}

.guide-text {
    font-size: 0.8rem;
}

.image-produto {
    width: 100%;
    margin-top: 20px;
}

.text-side {
    margin: 0 10px 0 10px;
}

.text-produto {
    font-size: 1.1rem;
}

.text-envio {
    font-size: 0.7rem;
    position: relative;
    bottom: 7px;
}

.produto-name {
    display: flex;
    justify-content: space-between;
    border-bottom: #888 solid 0.8px;
    margin-bottom: 22px;
}

.old-coast {
    font: 1em sans-serif;
    color: #888;
    font-style: italic;
    text-decoration: line-through;
}

.coast {
    font-size: 24px;
    color: #FF227F;
}

.aviso {
    display: grid;
    grid-template-columns: 13% 87%;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 24px;
    width: 100%;
    background-color: #ff8686;
    border: 1px rgb(143, 36, 36) solid;
}

.color-box {
    margin-top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 23px;
    background: #1793ED;
}

