@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 95px;
    margin-bottom: 12px;
    background: #FF227F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ball {
    width: 60px;
    height: 60px;
    background: #FEFEFE;
    border-radius: 50%;
}



.search {
    width: 95%;
    height: 40px;
    margin: auto;
    padding: 0px 20px 20px 5px;
    display: grid;
    grid-template-columns: 10% 90%;
    border-radius: 30px;
    border: 2px solid #FF227F;
    background: #FEFEFE;
}

.division-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    grid-column: 1/2;
    margin-left: 5px;
}

.input-search {
    margin-left: 10px;
    grid-column: 2/3;
    width: 100%;
    position: relative;
    height: 36px;
    background: transparent;
    color: #111111;
    font-family: 'Poppins', sans-serif;
    border: none;
}

input::placeholder {
    color: #c0c0c0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

input:focus {
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    color: #111111;
}

